*{
    margin: 0;
    padding: 0;
    vertical-align: top;
}

body div{
    background-color: rgb(255, 187, 0);
    position: relative;
    top: 0px;
    padding-left: 400px;
    padding-right: 400px;
    font-family:Arial, Helvetica, sans-serif
}

header{
    background-color:cornflowerblue;
}

header p{
    font-size: 40px;
    font-weight: 800;
    color: white;
    text-align: center;
}

header img{
    height: auto;
    width: 100%;
    z-index: auto;
}

main{
    background-color: white;
    display: flex;
    justify-content:space-evenly ;
    padding-bottom: 20px;
}

ul{
    background-color: cornflowerblue;
    list-style-type: none;
    display: block;
    width: 160px;
    height: 140px;
    text-align: center;
    float: left;
    padding: 5px;
    margin-top: 20px;
    margin-left: 0px;
}

li a{
    text-decoration: underline;
    color: white;
    position: relative;
    display: block;
    font-weight: 600;
    line-height: 1.2;
    margin: 5px;
}

li a:active{
    color: white;
}

article{
    position: relative;
    top: 0px;
    left: 0px;
    bottom: 100px;
    margin-top: 40px;
    width: auto;
}

article h1{
    color: rgb(255, 187, 0);
    text-align: left;

}

article p{
    width: 600px;
    text-align: left;
    text-align: justify;
    text-align: left;

}

aside{
    background-color: cornflowerblue;
    top: 0px;
    height: 520px;
    color: white;
    margin-top: 20px;
    margin-right: 0px;
    padding: 20px;
    max-width: 20%;
    height: 400px;
}

aside figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 5px 10px 5px;
}

aside figcaption{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

aside p{
    text-align: center;
    font-size: 14px;
}

aside img{
    width: 200px;
    border-style: solid;
    border-color: white;
}

footer{
    display: block;
    position: relative;
    background-color: rgb(0, 65, 187);
    text-align: center;
}

small{
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin: auto;
    display: inline-block;
    vertical-align: top;
}

@media only screen and (min-width: 320px) and (max-width: 768px){
    body div{
        padding: 0;
        background-color: white;
        overflow: hidden;
    }
    
    header p{
        font-size: 16px;
    }

    ul{
        width: 100%;
        height: 200px;
        display: block;
        justify-content: center;
        margin: 0;
        text-align: center;
        padding: 0;
    }

    li a{
        display: block;
        font-size: 16px;
        line-height: 1.5;
        padding: 0;
        margin: 0;
        margin: 10px 0px 0px 0px;
        width: auto;
        text-decoration: none;
    }

    li a:hover{
        text-decoration: underline;
    }

    main{
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
    }

    article{
        margin: 10px 10px 10px 10px;
    }

    article h1{
        text-align: center;
    }

    article p{
        width: auto;
        text-align: center;
        margin: 5px;
        justify-content: center;
    }

    aside{
        width: 100%;
        height: auto;
        padding: 0;
        max-width: fit-content;
    }

    aside figure{
        display: block;
        width: 100px;
        align-items:normal;
        padding-top: 10px;
    }

    aside img{
        width: 100%;
        float: left;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    aside figcaption{
        display: inline-block;
    }

    aside p{
        display: block;
        text-align: left;
        margin-top: 10px;
    }

    footer small{
        font-size: 14px;
    }

}
